In [1]:
myset=set()      #set is a unordered collection of object

In [2]:
myset

set()

In [3]:
myset.add(1)

In [4]:
myset

{1}

In [5]:
myset.add(2)

In [7]:
myset

{1, 2}

In [8]:
myset(2)     #we cant add same tiem in it thet want to unique

TypeError: 'set' object is not callable

In [11]:
mylist=[1,1,1,1,12,2,2,2,2]

In [12]:
set(mylist)

{1, 2, 12}